@use "../../../styles/constants.scss" as c;

.spinner {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 4px solid c.$primary;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.spinner__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
