@use "../../../styles/constants.scss" as c;

@mixin FadeInFadeOut {
  animation: fadeIn 0.1s linear forwards;
}

.modal__overlay {
  @include FadeInFadeOut();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 1000;
}

.modal {
  @include FadeInFadeOut();
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: c.$white;
  padding: c.$base-padding;
  border-radius: c.$base-padding/4;
  z-index: 1000;
  min-width: 80%;
  @media screen and (min-width: 768px) {
    min-width: 60%;
  }
}

.modal__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.modal__header__title {
  font-size: 1.5rem;
  color: c.$text-dark;
  margin: 0;
  padding: 0;
}

.modal__close__btn {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  &:focus {
    border: 2px solid black;
  }
}

.modal__close__container {
  height: 100%;
  cursor: pointer;
}

.modal__close_icon::before,
.modal__close_icon::after {
  display: block;
  background-color: c.$text-dark;
  position: absolute;
  height: 2px;
  width: 1rem;
  border-radius: 2px;
  right: c.$base-padding;
  top: c.$base-padding + 0.5rem;
}

.modal__close_icon::before {
  content: "";
  transform: rotate(45deg);
}

.modal__close_icon::after {
  content: "";
  transform: rotate(-45deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
